In [41]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [42]:
### collecting data

In [43]:
df=pd.read_csv(r'E:\project\hotel_bookings.csv')

In [44]:
type(df)

pandas.core.frame.DataFrame

In [45]:
### data cleaning

In [46]:
### checking missing values
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [47]:
df.drop(['agent','company'],axis=1,inplace=True)

In [48]:
df['country'].value_counts().index[0]

'PRT'

In [56]:
df['country'].fillna(df['country'].value_counts().index[0], inplace =True)

In [57]:
df.fillna(0,inplace=True)

In [58]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [59]:
filter1= (df['children']==0)  &  (df['adults']==0)  &  (df['children']==0)

In [60]:
df[filter1]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
2224,Resort Hotel,0,1,2015,October,41,6,0,3,0,...,I,1,No Deposit,0,Transient-Party,0.00,0,0,Check-Out,10/6/2015
2409,Resort Hotel,0,0,2015,October,42,12,0,0,0,...,I,0,No Deposit,0,Transient,0.00,0,0,Check-Out,10/12/2015
3181,Resort Hotel,0,36,2015,November,47,20,1,2,0,...,C,0,No Deposit,0,Transient-Party,0.00,0,0,Check-Out,11/23/2015
3684,Resort Hotel,0,165,2015,December,53,30,1,4,0,...,A,1,No Deposit,122,Transient-Party,0.00,0,0,Check-Out,1/4/2016
3708,Resort Hotel,0,165,2015,December,53,30,2,4,0,...,C,1,No Deposit,122,Transient-Party,0.00,0,0,Check-Out,1/5/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115029,City Hotel,0,107,2017,June,26,27,0,3,0,...,A,1,No Deposit,0,Transient,100.80,0,0,Check-Out,6/30/2017
115091,City Hotel,0,1,2017,June,26,30,0,1,0,...,K,0,No Deposit,0,Transient,0.00,1,1,Check-Out,7/1/2017
116251,City Hotel,0,44,2017,July,28,15,1,1,0,...,K,2,No Deposit,0,Transient,73.80,0,0,Check-Out,7/17/2017
116534,City Hotel,0,2,2017,July,28,15,2,5,0,...,K,1,No Deposit,0,Transient-Party,22.86,0,1,Check-Out,7/22/2017
117087,City Hotel,0,170,2017,July,30,27,0,2,0,...,A,0,No Deposit,0,Transient,0.00,0,0,Check-Out,7/29/2017

In [61]:
data=df[~filter1]

In [62]:
data.shape

(119210, 30)

In [67]:
filter2= (data['is_canceled']==0)

In [68]:
len(data[filter2])    ### number of rows

75011

In [70]:
data[filter2]['country'].value_counts() / 75011

PRT    0.285265
GBR    0.128888
FRA    0.112890
ESP    0.085094
DEU    0.080881
         ...
BHR    0.000013
DJI    0.000013
MLI    0.000013
NPL    0.000013
FRO    0.000013
Name: country, Length: 165, dtype: float64

In [72]:
country_wise_data= data[filter2]['country'].value_counts().reset_index()
country_wise_data.columns=['country','number of guests']
country_wise_data

    country  number of guests
0       PRT             21398
1       GBR              9668
2       FRA              8468
3       ESP              6383
4       DEU              6067
..      ...               ...
160     BHR                 1
161     DJI                 1
162     MLI                 1
163     NPL                 1
164     FRO                 1

[165 rows x 2 columns]

In [73]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\sagar\anaconda3\lib\site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\sagar\anaconda3\lib\site-packages (from plotly) (8.0.1)

In [74]:
!pip install chart_studio

Collecting chart_studio
  Downloading chart_studio-1.1.0-py3-none-any.whl (64 kB)
     -------------------------------------- 64.4/64.4 kB 266.9 kB/s eta 0:00:00
Collecting retrying>=1.3.3
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Requirement already satisfied: requests in c:\users\sagar\anaconda3\lib\site-packages (from chart_studio) (2.28.1)
Requirement already satisfied: plotly in c:\users\sagar\anaconda3\lib\site-packages (from chart_studio) (5.9.0)
Requirement already satisfied: six in c:\users\sagar\anaconda3\lib\site-packages (from chart_studio) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\sagar\anaconda3\lib\site-packages (from plotly->chart_studio) (8.0.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\sagar\anaconda3\lib\site-packages (from requests->chart_studio) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sagar\anaconda3\lib\site-packages (from requests->chart_studio) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sagar\anaconda3\lib\site-packages (from requests->chart_studio) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sagar\anaconda3\lib\site-packages (from requests->chart_studio) (2022.9.14)
Installing collected packages: retrying, chart_studio
Successfully installed chart_studio-1.1.0 retrying-1.3.4

In [75]:
import plotly
import chart_studio.plotly as py
from plotly.offline import download_plotlyjs, init_notebook_mode,plot,iplot
init_notebook_mode(connected=True)

In [76]:
import plotly.express as px